@model List<Log>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form class="row g-3">
        <div class="col-auto">
            <label for="Content" class="form-label">Content</label>
            @Html.TextBox("Content", ViewBag.CurrentContentFilter as string, new { @class = "form-control", id = "Content" })
        </div>
        <div class="col-auto">
            <label for="Host" class="form-label">Host</label>
            @Html.TextBox("Host", ViewBag.CurrentHostFilter as string, new { @class = "form-control", id = "Host" })
        </div>
        <div class="col-auto">
            <label for="StartDate" class="form-label">Min. Date</label>
            @Html.TextBox("StartDate", ViewBag.CurrentMinFilter as string, new { @class = "form-control", id = "StartDate", type = "datetime-local" })
        </div>
        <div class="col-auto">
            <label for="EndDate" class="form-label">Max. Date</label>
            @Html.TextBox("EndDate", ViewBag.CurrentMaxFilter as string, new { @class = "form-control", id = "EndDate", type = "datetime-local" })
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Filter</button>
        </div>
    </form>
    
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">
                @Html.ActionLink("Date", "Index", new {sortOrder = ViewBag.DateSortParm})
            </th>
            <th scope="col">Time</th>
            <th scope="col">Host</th>
            <th scope="col">Message</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.TimeStamp.ToShortDateString()</td>
                <td>@item.TimeStamp.ToLongTimeString()</td>
                <td>@item.Host</td>
                <td>@item.Content</td>
            </tr>
        }
        </tbody>
    </table>
</div>