@model List<Log>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form class="row g-3">
        <div class="col-auto">
            <label for="Message" class="form-label">Content</label>
            <input type="text" class="form-control" id="Message" name="Message" placeholder="Content">
        </div>
        <div class="col-auto">
            <label for="Host" class="form-label">Host</label>
            <input type="text" class="form-control" id="Host" name="Host" placeholder="Host">
        </div>
        <div class="col-auto">
            <label for="StartDate" class="form-label">Min. Date</label>
            <input type="datetime-local" class="form-control" id="StartDate" name="StartDate">
        </div>
        <div class="col-auto">
            <label for="EndDate" class="form-label">Max. Date</label>
            <input type="datetime-local" class="form-control" id="EndDate" name="EndDate">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Filter</button>
        </div>
    </form>
    
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Host</th>
            <th scope="col">Message</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.TimeStamp.ToShortDateString()</td>
                <td>@item.TimeStamp.ToLongTimeString()</td>
                <td>@item.Host</td>
                <td>@item.Message</td>
            </tr>
        }
        </tbody>
    </table>
</div>